* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: radial-gradient(circle, rgba(101, 0, 128, 1) 0%, rgba(44, 0, 64, 1) 50%, rgba(6, 0, 36, 1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    color: #ffffff;
    font-family: monospace;
    font-style: italic;
    margin-bottom: 3vh;
    text-align: center;
    text-decoration: underline;
}

#border-radius {
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    border-radius: 10%;
    border: 0.125rem solid #abad21;
    width: 100%;
    height: auto;
    margin: 2%;
    filter: drop-shadow(0 0 0.75rem crimson);
}

.image-container {
    position: relative;
    width: 40vw;
}

.slider-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.slider {
    width: 100%;
    height: auto;
    background-color: #ccc;
}

.slider.vertical {
    width: 40%;
    height: auto;
    position: absolute;
    transform: rotate(-90deg);
    background-color: #ddd;
}

#topLeftY {
    top: 22%;
    left: -10vw;
    transform: rotate(90deg);
}

#topRightY {
    top: 22%;
    right: -11vw;
    transform: rotate(90deg);
}

#bottomLeftY {
    bottom: 22%;
    left: -10vw;
}

#bottomRightY {
    bottom: 22%;
    right: -11vw;
}

.slider.horizontal {
    width: 48.5%;
    height: 5vh;
    position: absolute;
}

#topLeftX {
    top: -2.5vh;
    left: 1%;
}

#topRightX {
    top: -2.5vh;
    right: 1%;
    transform: rotate(180deg);
}

#bottomLeftX {
    bottom: -2.5vh;
    left: 1%;
}

#bottomRightX {
    bottom: -2.5vh;
    right: 1%;
    transform: rotate(180deg);
}

#input {
    margin-top: 3vh;
    padding: 1vh 5vw;
    text-align: center;
    background: linear-gradient(0deg, rgba(20, 43, 43, 1) 0%, rgba(39, 89, 88, 1) 100%);
    color: #ffffff;
    font-family: monospace;
    font-weight: bold;
    font-size: large;
    width: 70vw;
}

button {
    margin-top: 1.5vh;
    padding: 1vh 5vw;
    background: linear-gradient(0deg, rgba(20, 43, 42, 1) 0%, rgba(50, 53, 25, 1) 100%);
    color: #ffffff;
    font-family: monospace;
    font-size: medium;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 140px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}