* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background: rgb(101,0,128);
    background: radial-gradient(circle, rgba(101,0,128,1) 0%, rgba(44,0,64,1) 50%, rgba(6,0,36,1) 100%);
}

h1 {
    color:#ffffff;
    font-family: monospace;
    font-style: italic;
    margin-bottom: 100px;
    text-align: center;
    text-decoration: underline;
}

#border-radius {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

img {
    /* border-radius: 40% 20% 10% 5%; */
    border: 2px solid #abad21;
    background: url("Mountain-Dusk.png");
    width: auto;
    height: auto;
    filter: drop-shadow(0 0 0.75rem crimson);
}

#input {
    margin-top: 100px;
    Padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 75px;
    padding-right: 75px;
    text-align: center;
    background: rgb(20,43,43);
    background: linear-gradient(0deg, rgba(20,43,43,1) 0%, rgba(39,89,88,1) 100%);
    color: #ffffff;
    font-family: monospace;
    font-weight: bold;
    font-size: x-large;
}

button {
    margin-top: 10px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    background: rgb(20,43,42);
    background: linear-gradient(0deg, rgba(20,43,42,1) 0%, rgba(50,53,25,1) 100%);
    color: #ffffff;
    font-family: monospace;
    font-size: large;
}

.slidecontainer {
    width: 100%;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 3px;
    border-radius: 5px;
    background: #1c7f95;
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
    visibility: visible;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: #8e04aa;
    cursor: pointer;
    visibility: visible;
}
  
.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #04AA6D;
    cursor: pointer;
    visibility: visible;
}

.tooltip {
    position: relative;
    display: inline-block;
}
  
.tooltip .tooltiptext {
    visibility: hidden;
    width: 140px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
}
  
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}
  
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}